*

# main module
!/piwave/
!/piwave/**

# utilities
!/.gitignore
!/README.md
!/LICENSE

# install / uninstall scripts
!/install.sh
!/uninstall.sh

# python packaging
!/setup.py
!/pyproject.toml
!/setup.cfg

# workflows
!/.github/workflows/**

**__pycache__**